<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{Title}} - My Library </title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/books">Home</a></li>
                <li><a href="/addbook">Add New Book</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}

    <!-- HTML from other pages will go here-->

    {% endblock %}

    <footer>
        Copyright Aimee Bunyan 2022
    </footer>
    
</body>
</html>